body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #800000; /* Cabeçalho vermelho escuro */
    color: #fff;
    padding: 15px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    text-align: center; /* Centralizar o conteúdo da página */
}

.book-details {
    text-align: center; /* Centralizar o texto */
    margin: 20px;
}

.book-details img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rating {
    margin-top: 10px;
}

.synopsis {
    margin-top: 20px;
}

footer {
    background-color: #800000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.rating {
    margin-top: 10px;
}

.rating .star {
    color: #ddd;
    font-size: 24px;
    margin-right: 5px;
}

.rating .filled {
    color: #f8492a;
}